<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--Adding application settings-->
	<appSettings>

		<add key="ID" value="212207112"/>
		<add key="Name" value="Bahaa"/>
		<!--Connection details from the emulator/-->
		<add key="ConnectionSource" value="Emulator"/>
		<add key="EndPointUri" value="https://localhost:8081"/>
		<add key="PrimaryKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="/>
		<add key="EmulatorUI" value="https://localhost:8081/_explorer/index.html"/>


		<!--Connection details from the azure portal-->
		<!--<add key="ConnectionSource" value="Azure"/>
		<add key="EndPointUri" value="https://bahaa471.documents.azure.com:443/" />
		<add key="PrimaryKey" value="CUoCEWdhrnqDd5jNYMbg0yDkNy6nxnYEH4nGNjHJdg6zxUzOQnGEorkjPw1c02yx8ddo3RynlCIIACDb4jVwZw==" />
		<add key="AzureUI" value="https://azure.microsoft.com/en-us/free/students/"/>-->

	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>